asgiref==3.4.1
Django==3.2.6
django-debug-toolbar==3.6.0
importlib-metadata==4.10.1
keyring==23.5.0
Pillow==9.0.0
pytz==2022.2.1
pywin32-ctypes==0.2.0
sqlparse==0.4.2
tzdata==2021.5
zipp==3.7.0
django-simple-captcha==0.5.17